.resumeContent {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  min-width: 500px;
  min-height: 500px;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}


.formContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
}