h1 {
  color: #4717F6;
}

.resumeContent {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  min-width: 800px;
  min-height: 500px;
  background-color: white;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}


.formContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

input{
  border-radius: 5px;
}

label {
  color: #E7DFDD;
}

form {
  min-width: 250px;
  min-height: 250px;
}

input[type=submit] {
  min-width: 25px;
  min-height: 35px;
  background-color: #A239CA;
  color: white;
  border-radius: 7.5px;
  border-width: 1.5px;
  border-color: white;
}