.resumeContent {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  min-width: 800px;
  min-height: 500px;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}


.formContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

input{
  border-radius: 5px;
}

form {
  min-width: 250px;
  min-height: 250px;
}